<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boxsand forum</title>
        <link rel="stylesheet" href="public/style.css">
        <link rel="icon" href="https://boxsand.netlify.app/3d/3dball.jpg">
    </head>
    <body>
        <div class="section1">
            <h1>Ze Boxsand forum</h1>
            <button id="signup-button">Sign Up</button><br>
            <p>Already have an account?</p><br>
            <button id="login-button">Log In</button><br>
            Signed in as <span id="loggedinas2">you r not logd in</span>
            <form action="/" method="POST">
                <input name="token" id="token2" style="display:none"><button type="submit" id="rbtn">Refresh</button></form>
        </div>
        <div class="section1" id="psec">
            <h2>POSTS</h2>
            <div id="posts" class="section2">
                <%- posts %><!-- This will be replaced with server-side code to render posts dynamically -->
            </div>
            <h2>UPDATE REQUESTS</h2>
            <div id="requests" class="section2">
                <%- reqs %>
            </div>
            <span id="loggedinas" style="display:none"><%- username %></span>
            <span id="token" style="display:none"><%- token %></span>
        </div>
        <div class="section1" id="postsection">
            <h2>Post</h2>
            <p>Make sure to follow the <a href="/rules">rules</a></p>
            <form id="post-form" action="/posted.html" method="POST" onsubmit="postForm(event)">
                <label for="name">Title</label><br>
                <input name="name" type="text" id="name" placeholder="Title" required><br>
                <label for="file">File (optional)</label><br>
                <input name="file" type="file" id="file"><br>
                <label for="filename">File name (optional)</label><br>
                <input name="filename" type="text" value="save" id="filename"><br>
                <label for="post-content">Content</label><br>
                <textarea id="post-content" name="data" rows="4" cols="50" placeholder="Write your post here..."></textarea><br>
                
                <label for="post-preview">Preview</label><br>
                <div id="post-preview" class="section2">Your post will appear here...</div><br><!--
                <label for="options">Options</label><br>
                <div id="options">
                    <button class="pbtn">Upload</button>
                    <button class="pbtn">Header</button>
                    <button class="pbtn">Bold</button>
                    <button class="pbtn">Italic</button>
                    <button class="pbtn">Underline</button>
                    <button class="pbtn">List</button>
                </div><br>
                -->
                <button type="submit" id="post-button">Send</button>
                <label for="filehidden" style="display:none"></label>
                <input name="fileh" type="text" id="filehidden" style="display:none">
                <input name="token" id="token3" style="display:none">
            </form>
            <form action="/endsession.html" method="POST"><button type="submit">End session</button></form>
        </div>
        <button id="nreqbtn">Request update</button>
        <script>console.log("helpppppppppppppppppp")
            function postForm(e){
                document.getElementById("token3").value = localStorage.getItem("token")
                
            }
            document.getElementById("token3").value = localStorage.getItem("token")
            document.getElementById("token2").value = localStorage.getItem("token")
            console.log(document.getElementById("token").innerText)
            if (document.getElementById("token").innerText){localStorage.setItem("token", document.getElementById("token").innerText)}
            const loggedInElement = document.getElementById('loggedinas');
            const loggedIn = loggedInElement && loggedInElement.innerText !== "nobody";
            console.log('Logged in:', loggedIn);
            
            function textToHTML(text) {
                return text.replace(/(?:\r\n|\r|\n)/g, '<br>');
            }
            console.log("skibidi")
            document.getElementById('loggedinas2').innerText = document.getElementById('loggedinas').innerText; // Update logged in user display
            
            // Debug login and signup buttons
            const signupButton = document.getElementById('signup-button');
            const loginButton = document.getElementById('login-button');
            
            
            if (signupButton) {
                signupButton.addEventListener('click', function() {
                    window.location.href = 'signup';
                });
            } else {
                console.error('Signup button not found');
            }
            
            if (loginButton) {
                loginButton.addEventListener('click', function() {
                    window.location.href = 'login';
                });
            } else {
                console.error('Login button not found');
            }
            
            document.getElementById('post-content').addEventListener('change', function() {
                const text = this.value
                const title = document.getElementById("name").value
                const file = document.getElementById("file").value
                const filename = document.getElementById("filename").textContent
                const user = document.getElementById('loggedinas').innerText
                document.getElementById('post-preview').innerHTML = 
                `
                <h3>${title}</h3>
                <p>By ${user}</p><br>
                <p>${textToHTML(text)}</p>
                ${
                    file.length ? `<br><a download="${filename}.psave" href="data:text/base64,">Download ${filename}</a>`: ``
                }`
            });
            document.getElementById('file').addEventListener("change", function(){
            
                const fr = new FileReader()
                fr.onload = function(){
                    document.getElementById("filehidden").value = fr.result
                }
                fr.readAsText(document.getElementById("file").files[0])
            })
            document.querySelectorAll('.post').forEach(post => {
                const postId = post.id.split("#")[1]
                post.onclick = async ()=>{
                    console.log(postId)
                    const req = await fetch("/gp:id="+postId)
                    const txt = await req.text()
                    document.getElementById("psec").innerHTML = txt+`
                    <br>
                    <button onclick="document.getElementById('rbtn').click()">Back</button>
                    ${
                        loggedInElement.innerHTML === 'ehogGawLIC' ?
                        `<form action="/delete" method="POST">
                            <button type="submit">Delete</button>
                            <input name="token" value="${localStorage.getItem("token")}" style="display:none">
                            <input name="postn" value="${postId}" style="display:none">
                        </form>
                        `:``
                    }
                    `
                }
            })
            if (!loggedIn){//&& localStorage.getItem("token").length < 5){
                document.getElementById("nreqbtn").style.display = "none"
                document.getElementById("postsection").style.display = "none"
            }</script>
        
    </body>
</html>