<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boxsand forum</title>
        <link rel="stylesheet" href="public/style.css">
    </head>
    <body>
        <div class="section1">
            <h1>Ze Boxsand forum</h1>
            <button id="signup-button">Sign Up</button><br>
            <p>Already have an account?</p><br>
            <button id="login-button">Log In</button><br>
            Signed in as <span id="loggedinas2">you r not logd in</span>
            <form action="/" method="POST"><button type="submit">Refresh</button></form>
        </div>
        <div class="section1" id="psec">
            <h2>POSTS</h2>
            <div id="posts" class="section2">
                <%- posts %><!-- This will be replaced with server-side code to render posts dynamically -->
            </div>
            <h2>UPDATE REQUESTS</h2>
            <div id="requests" class="section2">
                <%- reqs %>
            </div>
            <span id="loggedinas" style="display:none"><%- username %></span>
        </div>
        <div class="section1" id="postsection">
            <h2>Post</h2>
            <form id="post-form" action="/posted.html" method="POST">
                <label for="name">Title</label><br>
                <input name="name" type="text" id="name" placeholder="Title" required><br>
                <label for="file">File (optional)</label><br>
                <input name="file" type="file" id="file"><br>
                <label for="filename">File name (optional)</label><br>
                <input name="filename" type="text" value="save" id="filename"><br>
                <label for="post-content">Content</label><br>
                <textarea id="post-content" name="data" rows="4" cols="50" placeholder="Write your post here..."></textarea><br>
                
                <label for="post-preview">Preview</label><br>
                <div id="post-preview" class="section2">Your post will appear here...</div><br><!--
                <label for="options">Options</label><br>
                <div id="options">
                    <button class="pbtn">Upload</button>
                    <button class="pbtn">Header</button>
                    <button class="pbtn">Bold</button>
                    <button class="pbtn">Italic</button>
                    <button class="pbtn">Underline</button>
                    <button class="pbtn">List</button>
                </div><br>
                -->
                <button type="submit" id="post-button">Send</button>
                <label for="filehidden" style="display:none"></label>
                <input name="fileh" type="text" id="filehidden" style="display:none">
            </form>
            <form action="/endsession.html" method="POST"><button type="submit">End session</button></form>
        </div>
        <button id="nreqbtn">Request update</button>
        <script src="public/index.js"></script>
        
    </body>
</html>